
.DS_Store
/AI_VoiceOver
/AI_VoiceOverData_Vanilla
/AtlasLootClassic
/AnglerAtlas
/AddonUsage
/AtlasLootClassic_Collections
/AtlasLootClassic_Crafting
/AtlasLootClassic_Data
/AtlasLootClassic_DungeonsAndRaids
/AtlasLootClassic_Factions
/AtlasLootClassic_Maps
/AtlasLootClassic_Options
/AtlasLootClassic_PvP
/BagBrother
/FishingBuddy
/Leatrix_Sounds
/LFGBulletinBoard
/QuestCompletist
/PartyPlanner
/Questie
/Recount
/RXPGuides
/SexyMap
/WeakAuras
/WeakAurasModelPaths
/WeakAurasOptions
/WeakAurasTemplates
/WhatsTraining
/WideQuestLogPlus
/VendorPricePlus
/NovaSpellRankChecker
/WeakAurasArchive
/FiveSecondRule
/Leatrix_Maps
/DropTheCheapestThing
/ClassicBestiary
/BetterFishing
/Bagnon_GuildBank
/Bagnon_Config
/Bagnon
/Bagnon_VoidStorage
