
.DS_Store
/DropTheCheapestThing
/QuestCompletist
/Questie
/RXPGuides
/WideQuestLogPlus
/BugSack
/ClassicCastbars
/ClassicCastbars_Options
/Leatrix_Maps
/Leatrix_Plus
/BetterVendorPrice
/\!BugGrabber
/RareScanner
/WeakAuras
/WeakAurasOptions
/WeakAurasTemplates
/WhatsTraining
/WeakAurasModelPaths
/WeakAurasArchive
/WowLua
/idTip
/Auctionator
/AutoLayer_Vanilla
/Details
/Details_Compare2
/Details_DataStorage
/Details_EncounterDetails
/Details_RaidCheck
/Details_Streamer
/Details_TinyThreat
/Details_Vanguard
/LayerHopper
/NovaWorldBuffs
/ReagentRecipeClassic
/RecipeMaster
/SimpleItemLevel
/ThreatClassic2
/TargetHealth
/.idea/
/AnglerAtlas
/AtlasLootClassic
/AtlasLootClassic_Collections
/AtlasLootClassic_Crafting
/AtlasLootClassic_Data
/AtlasLootClassic_DungeonsAndRaids
/AtlasLootClassic_Factions
/AtlasLootClassic_Maps
/AtlasLootClassic_Options
/AtlasLootClassic_PvP
/ClassicBestiary
/FishingBuddy
/LFGBulletinBoard
/NovaSpellRankChecker
/VendorPricePlus
/Plater
/Recount
/GatherMate2
/GatherMate2
/GatherMate2
/GatherMate2Marker
/GatherMate2_Data
/AI_VoiceOver
/AI_VoiceOverData_Vanilla
/WideQuestLog
/Deathlog
/ExtendedCharacterStats
/unitscanAON
/unitscanData
/ZoneInfoClassicEra
/unitscan
/TargetHealthPlus
/unitscanIntegrity
/LibTouristClassicEra
