.DS_Store
/DropTheCheapestThing
/Questie
/RXPGuides
/WideQuestLogPlus
/BugSack
/ClassicCastbars
/ClassicCastbars_Options
/Leatrix_Maps
/Leatrix_Plus
/BetterVendorPrice
/\!BugGrabber
/RareScanner
/WeakAuras
/WeakAurasOptions
/WeakAurasTemplates
/WhatsTraining
/WeakAurasModelPaths
/WeakAurasArchive
/WowLua
/idTip
/Auctionator
/AutoLayer_Vanilla
/Details
/Details_Compare2
/Details_DataStorage
/Details_EncounterDetails
/Details_RaidCheck
/Details_Streamer
/Details_TinyThreat
/Details_Vanguard
/LayerHopper
/NovaWorldBuffs
/ReagentRecipeClassic
/RecipeMaster
/SimpleItemLevel
/ThreatClassic2
/TargetHealth
/.idea/
/AnglerAtlas
/AtlasLootClassic
/AtlasLootClassic_Collections
/AtlasLootClassic_Crafting
/AtlasLootClassic_Data
/AtlasLootClassic_DungeonsAndRaids
/AtlasLootClassic_Factions
/AtlasLootClassic_Maps
/AtlasLootClassic_Options
/AtlasLootClassic_PvP
/ClassicBestiary
/FishingBuddy
/LFGBulletinBoard
/NovaSpellRankChecker
/VendorPricePlus
/Plater
/Recount
/GatherMate2
/GatherMate2
/GatherMate2
/GatherMate2Marker
/GatherMate2_Data
/AI_VoiceOver
/AI_VoiceOverData_Vanilla
/WideQuestLog
/Deathlog
/ExtendedCharacterStats
/unitscanAON
/unitscanData
/ZoneInfoClassicEra
/unitscan
/TargetHealthPlus
/unitscanIntegrity
/LibTouristClassicEra
/Nys_ToDoList
/Nys_ToDoList_Backup
/ItemRackOptions
/Pawn
/Quartz
/Scrap
/Ranker
/WeaponSwingTimer
/Scrap_Config
/ItemRack
/Scrap_Merchant
/ActionBarSaverReloaded
/GearScoreClassic+
/BetterBags
/DBM-Core
/DBM-GUI
/DBM-PvP
/DBM-StatusBarTimers
/DBM-Test-WarWithin
/DBM-Test
/DBM-VPVEM
/HidingBar
/HidingBar_Options
/DBM-Raids-WarWithin
/DBM-Brawlers
/DBM-Affixes
/DBM-KhazAlgar
/DBM-Raids-Midnight
/AI_VoiceOverData_VanillaExtra
/AtlasBIStooltips
/AtlasLootClassic_TBC_Phase_0_PreBis
/AtlasLootClassic_TBC_Phase_1_Karazhan
/AtlasLootClassic_TBC_Phase_2_SSC_TK
/AtlasLootClassic_TBC_Phase_3_BT_Hyjal
/DBM-Lairs-Midnight
/DBM-Midnight
/DBM-Outlands
/DBM-Raids-BC
/NovaInstanceTracker
